body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* Link Styles */
a {
  color: #91d3de; }
  a:hover, a:focus {
    color: #7dcbd8; }

/* Paragraph styles */

p {
	font-weight: 300;
	}

p.center {
	text-align: center;
	font-weight: 300;
  }
  
.center {
	text-align: center;
}

ol {
	list-style-type: circle;
	list-style-position: inside;
}

/* Header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #373737;
  margin-top: 0.2em;
  margin-bottom: 0.3em; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #6f6f6f;
    }

h1 {
  font-size: 2.7em;
  margin-bottom: 0; 
  text-align: center; }
  
h2 {
  font-size: 1.8em; 
  font-weight: 300; 
  text-align: center; 
  margin-bottom: 30px; }

h3 {
  font-size: 2.3125em;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
  background: url("../img/f1f1f1.gif") 0 50% repeat-x; }
  h3 span {
    background: url("../img/fff.gif") 0 50% repeat-x; 
    display: inline-block;
    vertical-align: top;
    overflow: visible;
    padding: 0px 30px 0; }
  
.white {
	color: #fff;
}

hr {
  margin-bottom: 40px;
}

/* Nav Bar Styles */  
  
.navbar {
  width: 100%;
  height: 52px;
  padding: 0 20px;
  background-color: #2e3641;
  color: #ffffff;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99; 
  font: 700 12px "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.navbar-inner {
	max-width: 80em;
	margin: 0 auto;
}

.navbar img {
  float: left;
  margin-top: 12px;
}

a.logo {
  float: left;
  margin: 18px 12px;
}

a.nav {
  color: #ffffff;
}

.navbar ul {
  float: right;
  list-style: none;
  margin: 17px 0px;
}

.navbar li {
  float: left;
  padding-left: 40px;
}

/* Button Styles */  

button, .btn {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	padding: 16px 18px;
	border-radius: 5px;
	border: 1px solid #fff;
	border: 1px solid rgba(255,255,255,0.4);
} 

a.btn:hover, a.btn:focus {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-transition: background-color .2s ease-in;
	-moz-transition: background-color .2s ease-in;
	-o-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
}

/* Panels */
.panel.transparent {
	border: none;
	margin-bottom: 1.25em;
	padding: 1.25em;
	background: none; 
	text-align: center; 
}

.panel.center {
	text-align: center;
}
    
/* Row styles */

.contain {
	max-width: 930px;
}

.intro {
/*
	position: fixed;
    z-index: 2;
*/
	padding: 100px 0 0;
	text-align: center;
	height: 670px;
	/*background-color: #9eb2c0;*/
    background-color: #f97e76;
}

.intro h1 {
	font-size: 50px;
	font-weight: bolder;
	color: #ffffff;	
	margin-top: 40px;
}

.intro p {
	font-size: 22px;
	color: #e4edf2;	
	margin-top: 40px;
}

.intro a {
  color: #ffffff; 
  text-decoration: underline;
}

a:hover, a:focus {
    color: #f97e76; }

.block {
	text-align: center; 
	padding: 120px;
}

.block.color1 {
	background-color: #f97e76;
/*
    z-index: 3;
    top: 670px;
*/
}

.block.color2 {
	background-color: #9eb2c0;
/*
    z-index: 3;
    top: 670px;
*/
}

.block.color3 {
	background-color: #c1cfd9;
/*
    z-index: 3;
    top: 670px;
*/
}

.block.color4 {
	background-color: #f97e76;
/*
    z-index: 3;
    top: 670px;
*/
}

.block.color5 {
	background-color: #9eb2c0;
/*
    z-index: 3;
    top: 670px;
*/
}

.block.color6 {
	background-color: #c1cfd9;
/*
    z-index: 3;
    top: 670px;
*/
}

h1.white, h2.white {
	color: #fff;
}


/* Layout styles */

.spacer {
	margin-bottom: 60px;
}

/* Footer Styles */  
  
footer {
  height: 130px;
  margin-top: 80px;
  background-color: #a3bede;
}

#arrows {
	width: 125px;
	margin: 0px auto;
	padding-top: 38px;
}

#prev {
  margin-right: 20px;
  float: left;
}

#next {
  float: left;
}

.arrow {
  font-size: 28px;
  padding: 15px 20px 20px;
}

/* Orbit styles */
.orbit-container {
  background: none;
}

